<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body">
        <ul class="site-nav-wrap">
            <app-menu-li></app-menu-li>
        </ul>
    </div>
</div>


<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

    <div class="container">
        <div class="row align-items-center">

            <div class="col-6 col-md-3 col-xl-2  d-block">
                <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0">Inerxia<span class="text-primary">.</span> </a></h1>
            </div>

            <div class="col-12 col-md-9 col-xl-10 main-menu">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu main-menu mr-auto d-none d-lg-block ml-0 pl-0">
                        <li><a href="#home-section" class="nav-link">{{'menu.root' | translate }}</a></li>

                        <li><a href="#features-section" class="nav-link">{{'menu.atributos' | translate }}</a></li>

                        <li class="has-children">
                            <a href="#about-section" class="nav-link">Hacemos</a>
                            <ul class="dropdown arrow-top">
                                <li><a href="#about-section" target="_blank" class="nav-link"><span class="text-primary">Consultoria</span></a></li>
                                <li><a href="#about-section" class="nav-link">Analisis de datos</a></li>
                                <li class="has-children">
                                    <a href="#">Software</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Web Apps</a></li>
                                        <li><a href="#">Apps Movil</a></li>
                                        <li><a href="#">Desktop apps</a></li>
                                        <li><a href="#">RPA</a></li>
                                        <li><a href="#">Aplicaciones bajo nivel</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#">Diseño y multimedia</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Imagen corporativa</a></li>
                                        <li><a href="#">Diseño de video publicitario</a></li>
                                    </ul>
                                </li>
                                <li><a href="#our-team-section" class="nav-link">BPO sistemas y telecomunicaciones</a></li>

                            </ul>
                        </li>

                        <li><a href="#our-team-section" class="nav-link">Nuestro equipo</a></li>

                        <li><a href="#testimonials-section" class="nav-link">Comentarios</a></li>

                        <li><a href="#contact-section" class="nav-link">{{'formContacto.titulo_inicial' | translate}}</a></li>

                        <li class="has-children">
                            <a style="pointer-events: none;
                            cursor: default;" data-role="button" class="nav-link"><span *ngIf="translate.currentLang; else notCurrentLang" >{{translate.currentLang}}</span></a>
                            <ng-template #notCurrentLang>
                                <span>{{translate.defaultLang}}</span>
                            </ng-template>

                            <ul class="dropdown arrow-top" #selectedLang>
                                <li *ngFor="let language of translate.getLangs()" [id]="language" (click)="switchLang(language)">
                                    <span *ngIf="language === translate.currentLang; then equal else notEqual"></span>
                                    <ng-template #equal>
                                        <span class="nav-link">
                                            <span class="text-primary">
                                                {{ language }} 
                                            </span>
                                        </span>
                                    </ng-template>
                                    <ng-template #notEqual>
                                        <span class="nav-link">
                                            <span>
                                                {{ language }}
                                            </span>
                                        </span>
                                    </ng-template>
                                </li>


                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>


            <div class="col-6 col-md-9 d-inline-block d-lg-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
    </div>


</header>