<div class="site-section bg-image2 overlay" id="contact-section" style="background-image: url('../../assets/images/contact-form-background.jpg');">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3 text-white">{{'formContacto.titulo_inicial' | translate}}</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7 mb-5">



                <form (ngSubmit)="enviarMensaje()" class="p-5 bg-white">

                    <h2 class="h4 text-black mb-5">{{'formContacto.titulo' | translate}}</h2>

                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="text-black" for="nombres">{{'formContacto.nombres' | translate}}</label>
                            <input type="text" id="nombres" class="form-control rounded-0" [(ngModel)]="objContacto.nombre" name="nombre">
                        </div>
                        <div class="col-md-6">
                            <label class="text-black" for="apellidos">{{'formContacto.apellidos' | translate}}</label>
                            <input type="text" id="apellidos" class="form-control rounded-0" [(ngModel)]="objContacto.apellido" name="apellido">
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="email">{{'formContacto.email' | translate}}</label>
                            <input type="email" id="email" class="form-control rounded-0" [(ngModel)]="objContacto.email" name="email">
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="asunto">{{'formContacto.asunto' | translate}}</label>
                            <input type="subject" id="asunto" class="form-control rounded-0" [(ngModel)]="objContacto.asunto" name="asunto">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="mensaje">{{'formContacto.mensaje' | translate}}</label>
                            <textarea [(ngModel)]="objContacto.mensaje" name="mensaje" id="mensaje" cols="30" rows="7" class="form-control rounded-0" placeholder="{{'formContacto.place_mensaje' | translate}}"></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="{{'formContacto.btn_enviar' | translate}}" class="btn btn-primary mr-2 mb-2">
                        </div>
                    </div>


                </form>
            </div>

        </div>

    </div>
</div>