<div class="site-section bg-image2 overlay" id="contact-section" style="background-image: url('../../assets/images/hero_1.jpg');">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3 text-white">Contactanos</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7 mb-5">



                <form action="#" class="p-5 bg-white">

                    <h2 class="h4 text-black mb-5">Formulario de contacto</h2>

                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="text-black" for="nombres">Nombres</label>
                            <input type="text" id="nombres" class="form-control rounded-0">
                        </div>
                        <div class="col-md-6">
                            <label class="text-black" for="apellidos">Apellidos</label>
                            <input type="text" id="apellidos" class="form-control rounded-0">
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="email">Email</label>
                            <input type="email" id="email" class="form-control rounded-0">
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="asunto">Asunto</label>
                            <input type="subject" id="asunto" class="form-control rounded-0">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="mensaje">Mensaje</label>
                            <textarea name="message" id="mensaje" cols="30" rows="7" class="form-control rounded-0" placeholder="Deja tu mensaje aquí..."></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Enviar mensaje" class="btn btn-primary mr-2 mb-2">
                        </div>
                    </div>


                </form>
            </div>

        </div>

    </div>
</div>